*,
*::before,
*::after {
	box-sizing: border-box;
}
* {
	margin: 0;
}
body {
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
	font-family: "Roboto", sans-serif;
}
img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}
input,
button,
textarea,
select {
	font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}
#root,
#__next {
	isolation: isolate;
}
/* code Start's here */

.app__layout {
	max-width: 80%;
	margin-inline: auto;
	padding: 1rem;
}
/* Header */
.container.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 1.2rem;
	margin-block: 2rem;
	padding: 2rem;
	border: 5px solid rgb(228, 228, 228);
}

.container.header > ul {
	list-style: none;
	display: flex;
	gap: 1.5rem;
}

/* Body */

.res-Card {
	padding: 0.5rem;
	width: 200px;
	border-radius: 5px;
	transition: 0.4s;
	border: 2px solid rgb(228, 228, 228);
}
.shimmer-container {
	display: flex;
	gap: 2rem;
	padding: 0.5rem;
}
.shimmer-card {
	padding: 0.5rem;
	width: 200px;
	height: 500px;
	border-radius: 5px;
	background-color: gainsboro;
}

.res-Card > img {
	aspect-ratio: 2 / 1.5;
}

.res-Card > .res-Content {
	padding-block: 0.5rem;
}

.res-Card:is(:hover, :active) {
	box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.2);
}

.filter-btn > button {
	border: none;
	padding: 7px 30px;
	margin: 15px;
	border-radius: 5px;
	color: white;
	background-color: goldenrod;
}

button:is(:hover, :active) {
	box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.2);
}

.ReastaurantContainer {
	width: 100%;
	display: flex;
	gap: 1.5rem;
	flex-wrap: wrap;
	justify-content: center;
}

.reactBtn {
	padding: 12px 20px;
	border: 1px solid gray;
	border-radius: 5px;
}

.searchBtn {
	margin-left: 10px;
	padding: 3px 20px;
	border: 1px solid gray;
	border-radius: 5px;
}

/* Footer */
